<div class="mdl-textfield__expandable-holder" style="width: 75vw !important;">
  <input class="mdl-textfield__input" type="text" name="squadSearchBar" id="fixed-header-drawer-exp" placeholder=" Input friend's email. . .">
</div>

