<script>
  function addTeamMember(event) {
    event.preventDefault();
    // email = getSelector....
    // ajax.post('http://localhost:3000/squad/', { email: email}, function (result) {})
  }
</script>

<div class="squad-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="squad-card-image__filename"><%=@squad.user.first_name %></span>
  </div>
</div>

<!-- add squad member -->
<div class="squad-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <%= simple_form_for( [@squad, @squadmember] remote: true) do |f| %>

    <% f.input :email %>
    <% f.button :submit %>
    <% end %>
    <span class="btn btn-primary" onclick="addTeamMember">Add a team member</span>
  </div>
</div>
