
  <div class="container">
    <div class="row" style="margin-top: 50px; margin-bottom: 65px">

      <div class="col-xs-12 col-md-4" style="max-height: 675px; overflow: auto">
        <div class="head-content">
        <%= render 'squad/edit-components/build-squad-form' %>
        </div>
        <div class="body-content">
          <!-- SEARCH FILTERS -->
        <div hidden id="index-filters" class="mdl-layout__header-row mdl-shadow--2dp filters-stick" style="margin-top: 25px;">
          <!-- <div class="mdl-layout-spacer"></div> -->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right" style="position: absolute;right: 10px">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="fixed-header-drawer-exp">
              <i class="material-icons" style="font-size: 30px !important;">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder" style="width: 25vw !important;">
                <input class="mdl-textfield__input" type="text" name="searchBar"
                     id="fixed-header-drawer-exp" placeholder=" Search . . .">
            </div>
          </div>
          <!-- SEARCH FILTERS -->
        </div>

          <% User.all.each do |user| %>
            <% unless @squad.squadmembers.find_by(user: user) %>
              <%= render 'squad/sidekick-components/squadmember-list-recent', user: user, squad: @squad, options: 'add' %>
            <% end %>
          <% end %>
        </div>
      </div>
<!--    <div class="col-sm-12 col-md-8 add-sidekick-right" style="max-height: 675px; overflow: auto"> -->
    <div class="col-sm-12 col-md-8" style="max-height: 675px; overflow: auto">
      <h3 class="fancy-h3" style="text-align: center">Tonight's Squad</h3>
      <div class="squad-container">
        <div class="row" id="squad-row">
        <%= render 'squad/edit-components/squad-member-card' %>
        </div>
      </div>

  <div class="checkout-button-container">
    <%= link_to member_choose_venue_path(@squad.id, @squad.squadmembers.find_by(user: current_user.id)), { id: 'checkout-sidekicks-btn'} do %>
      <div class="svg-wrapper">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text" class="mint">
            <!-- <a id="proceed-to-create-squad-btn" href=""><span class="spot"></span> -->
              <i class="fas fa-arrow-right"></i>
            <!-- </a> -->
          </div>
        </svg>
      </div>
    <% end %>
  </div>
</div>


  <script>

  // document.getElementById('index-filters').addEventListener('mouseenter', (event) => {
  //   document.getElementById('fixed-header-drawer-exp').focus();
  // });

</script>
