<div class="container">

  <div class="squad-row">

    <div class="squad-cards">
      <%= render 'user-squad-card' %>

      <div class="build-squad">
        <%= render 'build-squad-form' %>
      </div>

    </div>
  </div>
</div>
