<div class="hidden-xs squad-contribution-floating-container">
  <% @squad.squadmembers.each do |squadmember| %>
    <%= render 'squad/sidekick-components/squadmember-list-recent', user: squadmember.user, squad: @squad, options: 'question' %>
  <% end %>
</div>


<div class="contribution-head">
  <!-- <div class="container-fluid"> -->
    <div class="container">
      <div class="row">
        <%= render 'shared/package-cards' %>
        <div class="hidden-xs">
          <%= render 'squad/edit-components/package-progress-effect' %>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <div class="contribution-wrapper">
    <%= render 'squad/edit-components/contribution-input' %>
  </div>
</div>
