<div class="container-fluid">
  <div class="row">
    <h1>SQUAD CONFIRMATION</h1>
  </div>
</div>





































<!-- <h2><% #@squadChosenVenue.venue.name %></h2>
 <p><% # @squadTotalContribution %> $</p>

    <hr>

      <h3>Squad members : </h3>
      <% # @squad.squadmembers.each do |squadmember| %>
         <p><%= squadmember.user.first_name %> <%= squadmember.user.last_name %> / contribution : <%= squadmember.contribution %> $
         </p>
      <% # end %>
      -->
