<div class="container">
  <div class="squad-row">
    <div class="squad-cards">
      <%= render 'squad-card' %>
    </div>
  </div>

  <div class="build-squad-form">
    <% render 'build-squad-form' %>
  </div>
</div>
