<div class="app mdl-shadow--2dp">
  <div class="main-index" id="main">

  </div>



    <div class="map">
      <!-- TODO : List all the packages -->
      <% @squadChosenVenue.venue.packages.each do |package| %>

        <%= render 'squad/show_components/package_card', package: package %>
      <% end %>
    </div>
</div>