<% venue =  @squadChosenVenue.venue %>

<div class="container">
  <div class="row">
    <h1 class="show-title">TONIGHT IS THE NIGHT!</h1>
  </div> <!-- title row -->

  <div class="row">

    <div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-0">
<!--       <div class="squad-title">
        <h2>SQUAD TITLE</h2>
      </div> -->
      <!-- <div class="squad-details"> -->
        <% @squad.squadmembers.each do |squadmember| %>

        <div>
         <%= render 'squad/sidekick-components/squadmember-list-recent', user: squadmember.user, options: 'squad-show' %>
        </div>
        <% end %>
      <!-- </div> -->
    </div>

    <div class="col-xs-6 col-md-3 col-xs-offset-3 col-md-offset-1">
        <div class="venue-details" style:"margin: auto; max-width: 300px">
          <%= render 'squad/show_components/confirmed-venue-card', venue: venue %>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="package-detail">
        <%= render 'shared/final-package-card' %>
      </div>
    </div>

  </div> <!--  info row end -->

  <div class="row" style="margin-top: 25px">
    <div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-0 show-contributions">
      <h3>Group Contribution:</h3>
      <p><sup>$</sup>175</p>
    </div>

    <div class="col-xs-6 col-md-3 col-xs-offset-3 col-md-offset-1 show-contributions">
        <h3>Your Contribution:</h3>
        <p><sup>$</sup>90</p>
    </div>

    <div class="col-xs-12 col-md-4 show-contributions">
        <h3>Total Contribution:</h3>
        <p><sup>$</sup>265</p>
    </div>

  </div> <!-- contribution info -->
</div> <!-- body end -->







<style>
.show-title {
  color: white;
  letter-spacing: 3px;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 32px;
}
.show-contributions h3 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 20px;
  color: white !important;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}


</style>































