.selected-venue {
  border:5px solid #02c3bd;
  transform: none;
  transform: scale(1.1);
    .color-overlay {
    }
}

.edit-venues {
  display: flex;
  align-content: flex-start;
}

.display-squad {
  // margin: 5vh auto;
  margin-top: 10vh;
  height: 100%;
  width: 100%;

}

