.selected-venue {
  box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 70px #7CFFCB , 0 0 100px #7CFFCB !important;
  transition: 0.5s all;
  transform: none;
  transform: scale(1.1);
    .color-overlay {
    }
}

.edit-venues {
  display: flex;
  align-content: flex-start;
}

.display-squad {
  // margin: 5vh auto;
  margin-top: 10vh;
  height: 100%;
  width: 100%;

}

.message-waiting-venue-choose {
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif !important;
  color: white;
  letter-spacing: 2px;
  width: 100%;
}

