.show-container{
  height: 100vh;
  background-color: $black;
  color: white;
}

.venue-background {
  min-height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 48%, 0 90%);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#venue-info {
  margin-top: 15px;
}

.align-content-center {
  justify-content: center;
}

.venue-social-pictures {
  top: -345px;
  left: 315px;
}

.venue-social-pictures img {
  height: 300px;
  width: 500px;
}
