.container-sidekick-left {
  flex-basis: 30%;
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  background-color: $black;

  .head-content {

    height: 30vh !important;
    overflow: scroll;
    // background-color: white;
    // margin: 5px calc(100%-5px);
  }

  .body-content {
    margin-top: 10vh !important;
    max-height: 60vh !important;
    overflow: scroll;

    .filters-stick {
      flex-grow: 1;
      top: 0;
      position: sticky;

      z-index: 10;
      width: calc(100% - 20px);
      margin: 0 10px;
      text-align: center;
    }
  }
}

.container-sidekick-right {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  background-color: $black;
  padding: 16px;


  text-align: center;
  position: relative;

  h2 {
    color: white;
  }

}

#checkout-sidekicks-btn {
 position: fixed;
 bottom: 20px;
 right: 20px;
}

.squad-wrapper {
  min-height: 100vh !important;
  background-color: #380036;
}

.squad-container {
  margin: 15px;
  justify-content: space-between;
}
