.container-sidekick-left {
  flex-basis: 30%;
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  background-color: $black;

  .head-content {

    height: 30vh !important;
    overflow: scroll;
    // background-color: white;
    // margin: 5px calc(100%-5px);
  }

  .body-content {
    margin-top: 10vh !important;
    max-height: 60vh !important;
    overflow: scroll;

    .filters-stick {
      flex-grow: 1;
      top: 0;
      position: sticky;

      z-index: 10;
      width: calc(100% - 20px);
      margin: 0 10px;
      text-align: center;
    }
  }
}

.container-sidekick-right {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  background-color: $black;
  padding: 16px;


  text-align: center;
  position: relative;

  h2 {
    color: white;
  }

}

#checkout-sidekicks-btn {
 // position: fixed;
 // bottom: 20px;
 // right: 20px;
}

.squad-wrapper {
  min-height: 100vh !important;
  background-color: #380036;
}

.squad-container {
  margin: 15px;
  justify-content: space-between;
  max-height: 100%;
  overflow: auto;
}

.fancy-h3 {
  font-size: 42px;
  font-family: 'Megrim' !important;
  color: white;
}

.fancy-h3:hover {
  color: white;
}
.fancy-h3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.fancy-h3:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#add-button {
  background: $mint;
  border-radius: 50%;
  padding: 5px;
}

.add-sidekick-right {
/*  height: 675px;
  overflow: auto;
  display: flex;
  flex-direction: column; */
  justify-content: space-between;
  max-height: 100%;
  overflow: auto;
}

.fancy-h3 {
  font-size: 42px;
  font-family: 'Megrim' !important;
  color: white;
}

.fancy-h3:hover {
  color: white;
}
.fancy-h3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.checkout-button-container {
  justify-content: flex-end;
  display: flex;
}