.show-title {
  color: white;
  letter-spacing: 3px;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 32px;
}
.show-contributions h3 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 20px;
  color: white !important;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}


