.selected-venue {
  border:5px solid #02c3bd;

    .color-overlay {
    }
}

.contribution-row {
  margin: 50px auto;
}

.edit-venues {
  display: flex;
  align-content: flex-start;
}

.chosen-float-overlay {
  min-height: 60vh;
  position: relative;
}

.contribution-wrapper {
  min-height: 30vh;
  background-color: $black;
}

.contribution-head {
  // text-align: center;
  // margin-top: 50px;
  padding-top: 55px;
  padding-bottom: 20px;

}

.contribution-inputs {
  text-align: center;
  margin: 20px auto;

}


