.app {
  display: flex;
  // flex-direction: column;
  /*position: sticky;*/
}

.filters-stick {
  flex-grow: 1;
  top: 0;
  position: sticky;
  background-color: #F4F4F4;
  z-index: 10;
}

.main-index {
  flex-basis: 60%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding: 16px;
  // max-width: 70%;

}

.index-wrapper {
  background-color: rgba(3, 0, 39, 0.95);
  min-height: 50vh !important;
}

.venues-chosen {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0 auto;
  bottom: 0;
  position: sticky;
  background-color: rgba(3, 0, 39, 0.95);
  z-index: 9;
  height: 100px;
  max-width: 80vw !important;
  overflow: hidden;
  -webkit-box-shadow:0px 0px 24px 2px #000000 ;
  -moz-box-shadow:0px 0px 24px 2px #000000 ;
  box-shadow:0px 0px 24px 2px #000000 ;
}

.map {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  /*background-color: green;*/
  // background-color: green; /* TODO : this is a temp color */
}

#map {
  height: 100%;
  width: 100%;
}

.venues {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  // top: 30px;
  min-height: 100vh;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .title-content {
    font-size: 32px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .title-content {
    font-size: 24px;
  }
}



















