.app {
  display: flex;
  // flex-direction: column;
  /*position: sticky;*/
}

.filters-stick {
  flex-grow: 1;
  top: 0;
  position: sticky;
  background-color: #F4F4F4;
  z-index: 10;
}

.main-index {
  flex-basis: 60%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding: 16px;
  max-width: 85%;
  margin: 0 auto;
  max-height: calc(100vh - 70px) !important;

}

.index-wrapper {
  // background-color: rgba(3, 0, 39, 0.95);
  min-height: 50vh !important;
  max-height: 100vh !important;
  overflow: scroll;
}

.side-shadows {
  // -webkit-box-shadow:0px 30px 50px 3px rgba(255,255,255, 0.2) ;
  // -moz-box-shadow:0px 30px 50px 3px rgba(255,255,255, 0.2) ;
  // box-shadow:0px 30px 50px 3px rgba(255,255,255, 0.2) ;
}

.venues-chosen {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  // margin: 0 auto;
  // filter: brightness(1.5);
  filter: contrast(120%);
  bottom: 0;
  position: fixed;
  background-color: rgba(6, 0, 69, 0.90);
  // background-color: rgba(124, 255, 203, 0.7);
  z-index: 9;
  height: 150px;
  // max-width: 90vw !important;
  min-width: 80vw !important;
  margin-right: 10vw !important;
  margin-left: 10vw;
  overflow: hidden;


  // background-image: -webkit-linear-gradient(top left, #051937, #11173a, #1f123c, #2c0b3a, #380036);
  // background-image: -o-linear-gradient(top left, #051937, #11173a, #1f123c, #2c0b3a, #380036);
  // background-image: linear-gradient(to bottom right, #051937, #11173a, #1f123c, #2c0b3a, #380036);  text-align: center;
  // -webkit-box-shadow:0px 0px 24px 2px #000000 ;
  // -moz-box-shadow:0px 0px 24px 2px #000000 ;
  box-shadow:0px 0px 24px 2px #000000 ;

    // -webkit-box-shadow:4.5px 4.5px 5px -1px rgba(124, 255, 203, 1) ;
    // -moz-box-shadow:4.5px 4.5px 5px -1px rgba(124, 255, 203, 1) ;
    // box-shadow:0px 0px 24px 2px rgba(124, 255, 203, 0.7) ;
}

.map {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  /*background-color: green;*/
  // background-color: green; /* TODO : this is a temp color */
}

#map {
  height: 100%;
  width: 100%;
}

.venues {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  // top: 30px;
  // min-height: 110vh;
  // overflow: scroll;

}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .title-content {
    font-size: 32px;
  }

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .title-content {
    font-size: 24px;
  }

  .venues-chosen {
    margin-left: 0vw;
    transform: scale(0.3, 0,4);
    justify-content: flex-start;

  }
}



















