#application-container {
   min-height: 100vh;
   height: 100vh !important;
   max-height: 100vh !important;
   // min-height: calc(100%);
   background: $black;
   // max-width: 100vw !important;
   // overflow: hidden;
}

#footer {
   // bottom:0;
   // width:100%;
   // height:100px;   /* Height of the footer */
}

body {
  background-color: $black;
}
