#application-container {
   min-height: calc(100%);
   height: calc(100%);
   // min-height: calc(100%);
   background: $black;
   // max-width: 100vw !important;
   // overflow: hidden;
}

#footer {
   // bottom:0;
   // width:100%;
   // height:100px;   /* Height of the footer */
}
