<div class="package-card text-center" id=ultra-pkg>

    <div class="package-title">
        <i class="fas fa-rocket"></i>
        <h2>ULTRA VIP</h2>
     </div>

     <div class="package-price">
       <h4><sup>$</sup>25</h4>
     </div>

    <div class="package-options">
      <ul>
        <li><i class="far fa-play-circle"></i>Detail</li>
        <li><i class="far fa-play-circle"></i>Another Detail</li>
        <li><i class="far fa-play-circle"></i>Another Detail</li>
        <!-- <li><i class="far fa-play-circle"></i>Another Another detail</li> -->
      </ul>
    </div>

    <!-- <a href="#">Select</a> -->

  </div>


<style>

#ultra-pkg,
#ultra-pkg .package-title .fas {
  background: linear-gradient(-45deg, #24ff72, #9a4eff) ;
}

</style>
