<div class="package-card text-center" id=ultra-pkg>

    <div class="package-title">
        <i class="fas fa-rocket"></i>
        <h2>ULTRA VIP</h2>
     </div>

     <div class="package-price">
       <h4><sup>$</sup>270</h4>
     </div>

    <div class="package-options">
      <ul>
        <li><i class="fas fa-plus-circle"></i> Basic and baller perks</li>
        <li><i class="fas fa-headphones"></i> Meet the DJ</li>
        <li><i class="fas fa-chess-king"></i> Ultimate V.I.P. Experience</li>
      </ul>
    </div>

    <!-- <a href="#">Select</a> -->

  </div>


<style>

#ultra-pkg,
#ultra-pkg .package-title .fas {
  background: linear-gradient(-45deg, #24ff72, #9a4eff) ;
}

</style>
