<div id="index-filters" class="mdl-layout__header-row mdl-shadow--2dp filters-stick" style="margin-top: 10px;">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
  mdl-textfield--floating-label mdl-textfield--align-right">
  <label class="mdl-button mdl-js-button mdl-button--icon"
  for="fixed-header-drawer-exp">
  <i class="material-icons" style="font-size: 30px !important;">search</i>
</label>
<div class="mdl-textfield__expandable-holder" style="width: 75vw !important;">
  <input class="mdl-textfield__input" type="text" name="searchBar"
  id="fixed-header-drawer-exp" placeholder=" Search . . .">
</div>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 4vw !important; margin-left: 15px !important;">
  <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="max_price">
  <label class="mdl-textfield__label" for="max_price">Max $</label>
  <span class="mdl-textfield__error">Input is not a number!</span>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 4vw !important; margin: 0px 15px !important;">
  <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="person_count">
  <label class="mdl-textfield__label" for="person_count">Persons</label>
  <span class="mdl-textfield__error">Input is not a number!</span>
</div>


</div>
