<div class="blog-card spring-fever mdl-shadow--2dp" data-venue-id="<%= venue.id %>">
  <div class="title-content">
    <h3><%= venue.name %></h3>
    <div class="intro">★★★</div>
    <div class="intro">$$$</div>
  </div>

  <!-- <div class="utility-info">
    <ul class="utility-list">
      <li class="comments">12</li>
      <li class="date">03.12.2015</li>
    </ul>
  </div> -->
  <!-- overlays -->
  <!-- <div class="gradient-overlay"></div> -->
  <div class="color-overlay"></div>
  <div class="card-info">
  <!-- Raised button with ripple -->
  <%= link_to venue_path(venue.id) do %>
    <button class="awesome-button">
      <i class="fas fa-info-circle"></i>
    </button>
  <% end %>

  <!-- Raised button with ripple -->
    <button class="select-venue-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-venue-id="<%= venue.id %>">
      Select
    </button>
  </div><!-- /.card-info -->
</div><!-- /.blog-card -->


