
  <h3 style="text-align: center;">Recent SideKicks</h3>
  <% current_user.squads.second_to_last.squadmembers.each do |squadmember| %>
    <% unless @squad.squadmembers.find_by(user: squadmember.user) %>
      <%= render 'squad/sidekick-components/squadmember-list-recent', user: squadmember.user, squad: @squad %>
    <% end %>
  <% end %>










