

<!-- <div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="contribution-head">
    <h2><%# @squadTotalContribution %></h2>
    <h5>Squad Gold</h5>
  </div>
</div> -->


      <!-- <div id="container-lols" hidden style="z-index:1"> -->
      <!-- <div id="animated-progress-container"style="z-index:1;"> -->
      <div id="animated-progress-container" style="z-index: 1; max-width: 100vw !important;">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox='-350 -350 900 900'>

            <!-- purple -->
            <path  fill-opacity="0" style="z-index: 1 !important;" id="heart-path2" stroke-width="20" stroke="rgba(56, 0, 54, 0.7)" d='M-415,3
                     C-228,-263 154,463 606,-90'/>
      <!-- C458,-403 504,263 606,-145 -->
            <!-- teal -->
            <path  fill-opacity="0" style="z-index: 3 !important;" id="hearth-path0" stroke-width="20" stroke="rgba(2, 195, 189, 0.7)" d='M-415,3
                     C-228,-163 154,463 606,-90'/>
            <!-- pink -->
            <path  fill-opacity="0" style="z-index: 4 !important;" id="heart-path" stroke-width="20" stroke="rgba(250, 62, 148, 0.7)" d='M-415,3
                       C-228,-363 154,463 606,-90'/>

          </svg>
      </div>



<!-- Numeric Textfield with Floating Label -->
<% unless @squad.squadmembers.find_by(user: current_user).will_be_present %>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="contribution-inputs">



        <h2 id="contribution-input" style="color: white;"></h2>









<div style="width: 100vw; height: 40vh;"></div>


<!-- Default Slider -->
<input class="mdl-slider mdl-js-slider" type="range"
  min="0" max="100" value="0" tabindex="0" id="mdl-slider">



      <!-- FAB button -->
      <button id="member-confirm-contribution-btn" class="mdl-button mdl-js-button mdl-button--fab" style="float: right">
        <i class="material-icons">arrow_right</i>
      </button>

    </div>
  </div>
</div>
<% end %>

















<script>


//  WORKING ON THE SLIDER


//  WORKING ON THE SLIDER






if (document.getElementById('member-confirm-contribution-btn')) {


  document.getElementById('member-confirm-contribution-btn').addEventListener('click', (event) => {
    event.preventDefault();
    submitMemberContributionChoice();
  });
}
const getContributionValue = () => {

  const contributionEl = document.getElementById('contribution-input');
  if (contributionEl.innerHTML != undefined) {
    return contributionEl.value;
  } else {
    alert('please choose a contribution amount!');
  }
}

const submitMemberContributionChoice = () => {

  const contributionValue = getContributionValue();

  if (contributionValue != undefined) {

    sendAjaxPostMemberContributionChoice(contributionValue);

  }

}

const sendAjaxPostMemberContributionChoice = (chosenVenueId, contributionValue) => {
  const authToken = document.querySelector('meta[name="csrf-token"]').content
  const url = '/squad/<%= @squad.id %>/<%= @squad.squadmembers.find_by(user: current_user).id %>/choosecontribution'

  fetch(url, {
    method: "POST",
    headers: {
      'Content-Type': 'application/json',
      'X-Requested-With': 'XMLHttpRequest',
      'X-CSRF-Token': authToken
    },
    body: JSON.stringify({
      contribution: contributionValue
    }),
    credentials: 'same-origin'
  })
  .then((response) => response.json())
  .then((data) => {
    window.location.href = `/squad/${data['id']}/edit`
        // console.log(data['id']);
        console.log('hello');
      })
  .catch(console.error);

}



</script>
