<div class="body-contribution-container">
  <!-- Column header -->
  <div class="row">
    <div class="col-xs-12 col-sm-6" style="z-index: 10">
      <h2 class="contribution-header">Your contribution</h2>
    </div>
    <div class="col-xs-12 col-sm-6" style="z-index: 10">
      <h2 class="contribution-header">Group total</h2>
    </div>
  </div>
  <!-- calculated amounts -->
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2 class="contribution-cash contribution-personnal" id="contribution-input"></h2>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2 class="contribution-cash contribution-total">100</h2>
    </div>
  </div>

  <% unless @squad.squadmembers.find_by(user: current_user).will_be_present %>
  <div class="slider-container">
    <input class="mdl-slider mdl-js-slider" type="range"
    min="0" max="100" value="25" tabindex="0" id="mdl-slider" style="height: 50px !important">
  </div>
  <% end %>
</div>



<!-- <div class="progress-btn-container">
  <%#= link_to squad_path(@squad.id), { class: "under-svg-button", id: 'member-confirm-contribution-btn' } do %>
  <div class="svg-wrapper" id="proceed-to-create-squad-btn">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
      <div id="text">
        <div class="mint" href="">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </svg>
  </div>
  <%# end %>
</div> -->

<div class="progress-btn-container">

  <div class="svg-wrapper" id="member-confirm-contribution-btn">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
      <div id="text">
        <a class="mint" href=""><span class="spot"></span>
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </svg>
  </div>

</div>




<script>


//  WORKING ON THE SLIDER


//  WORKING ON THE SLIDER


if (document.getElementById('member-confirm-contribution-btn')) {


  document.getElementById('member-confirm-contribution-btn').addEventListener('click', (event) => {
    event.preventDefault();
    submitMemberContributionChoice();
  });
}
const getContributionValue = () => {

  const contributionEl = document.getElementById('contribution-input');
  if (contributionEl.innerHTML != undefined) {
    return contributionEl.innerHTML;
  } else {
    alert('please choose a contribution amount!');
  }
}

const submitMemberContributionChoice = () => {

  const contributionValue = getContributionValue();
  console.log('cont value : ');
  console.log(contributionValue);

  if (contributionValue != undefined) {

    sendAjaxPostMemberContributionChoice(contributionValue);

  }

}

const sendAjaxPostMemberContributionChoice = (contributionValue) => {
  const authToken = document.querySelector('meta[name="csrf-token"]').content;
  const url = '/squad/<%= @squad.id %>/<%= @squad.squadmembers.find_by(user: current_user).id %>/choosecontribution';

  fetch(url, {
    method: "POST",
    headers: {
      'Content-Type': 'application/json',
      'X-Requested-With': 'XMLHttpRequest',
      'X-CSRF-Token': authToken
    },
    body: JSON.stringify({ contribution: contributionValue }),
    credentials: 'same-origin'
  })
  .then((response) => response.json())
  .then((data) => {
    // window.location.href = `/squad/${data['id']}/edit`
        // console.log(data['id']);
        console.log('hello');
        console.log(data);

      })
  .catch(console.error);

}

const submittedMemberContributionChoice = () => {

}


</script>
