<% s = @squad.squadmembers.last%>
  <% s_member = User.find(s.user_id) %>

<div class="blog-card spring-fever mdl-shadow--2dp" data-handle-squadmember="<%= s_member.id %>" style="display: none;">
  <div class="title-content">
    <h3><%= s_member.first_name %></h3>
    <% if @squad.user == s.user %>
      <div class="intro">LEADER</div>
    <% else %>
      <div class="intro">SideKick</div>
    <% end %>
  </div>

  <div class="color-overlay"></div>
  <div class="card-info">
  <div class="intro" style="margin-top: 30px !important; margin-bottom: 30px !important;">International man of mysteries</div>
  <div class="intro" style="margin-top: 30px !important; margin-bottom: 30px !important;">Contribution : <%= s.contribution %></div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Info
    </button>

  </div>
</div>
