      <div id="animated-progress-container" style="z-index: 1; max-width: 100vw !important; width: 100vw !important; left: 0px; position: absolute;">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox='-350 -350 1200 1200'>

            <!-- purple -->
            <path  fill-opacity="0" id="heart-path2" stroke-width="20" stroke="rgba(56, 0, 54, 0.7)" d='M-415,3
                     C-228,-263 454,663 906,-90'/>
            <!-- teal -->
            <path  fill-opacity="0" id="hearth-path0" stroke-width="20" stroke="rgba(2, 195, 189, 0.7)" d='M-415,3
                     C-228,-163 454,663 906,-90'/>
            <!-- pink -->
            <path  fill-opacity="0" id="heart-path" stroke-width="20" stroke="rgba(250, 62, 148, 0.7)" d='M-415,3
                       C-228,-363 454,663 906,-90'/>

          </svg>
      </div>
