<!-- <div class="squad-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="squad-card-image__filename">test</span>
  </div>
</div>


 -->
<div class="blog-card spring-fever mdl-shadow--2dp">
  <div class="title-content">
    <h3><%= @squad.user.first_name %></h3>
    <div class="intro">LEADER</div>
  </div>

  <!-- <div class="utility-info">
    <ul class="utility-list">
      <li class="comments">12</li>
      <li class="date">03.12.2015</li>
    </ul>
  </div> -->
  <!-- overlays -->
  <!-- <div class="gradient-overlay"></div> -->
  <div class="color-overlay"></div>
  <div class="card-info">
  <!-- Raised button with ripple -->
  <div class="intro" style="margin-top: 30px !important; margin-bottom: 30px !important;">International man of mysteries</div>
  <div class="intro" style="margin-top: 30px !important; margin-bottom: 30px !important;">Contribution : <%= @squad.squadmembers.find_by(user: @squad.user).contribution %></div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Info
    </button>

  </div><!-- /.card-info -->
</div><!-- /.blog-card -->
























