<div class="card-index mdl-card mdl-shadow--2dp">
    <% if package.photo.nil? %>
      <div class="card-index-picture mdl-card__title" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://loremflickr.com/320/240/food');">
      <% else %>
      <div class="card-index-picture mdl-card__title" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path listing.photo, height: 300, width: 400, crop: :fill %>')">
    <% end %>
    <div class="card-index-title mdl-card__title-text"><%= package.name %></div>
  </div>


  <div class="mdl-card__menu">
    <!-- TODO : say the package is for how many people -->
    <span style="color: white; font-size: 10px;">3-5</span>

    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">group</i>
    </button>
  </div>
  <div class="mdl-card__menu mdl-card__menu-2">
    <span style="color: white; font-size: 10px; top: margin-bottom: 50px !important;"><%= package.price %></span>

    <span style="color: white; font-size: 10px; margin-right: 13px;">

        <i class="material-icons" style="font-size: 21px !important; letter-spacing: -13px !important;">attach_money</i>
    </span>
    <!-- <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"> -->

    <!-- </button> -->

  </div>

</div>
