
      <div class="squad-member" id="squad-show-card" style="max-height:200px">

        <div class="member-avatar">
          <img src="<%= cl_image_path s_member.photo, width: 100, height: 100, crop: 'thumb', gravity: 'face' %>">
        </div>

        <div class="squad-member-info">
          <h3 class="title"><%= s_member.first_name %></h3>
            <span class="squad-rank">LEADER</span>
        </div>

        <ul class="social-links">
          <li><a href="#" class="fas fa-comment-alt"></a></li>
          <li><a href="#" class="fab fa-facebook-messenger"></a></li>

        </ul>

      </div>

<style>
 #squad-show-card {
  max-height: 200px !important;
 }
</style>
