  .banner-main {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  // background-color: #030027;
  // background-blend-mode: overlay;

  // -webkit-filter: sepia(100%) hue-rotate(90deg) saturate(400%);
  // filter: yellow(100%) hue-rotate(90deg) saturate(400%);
}
.banner-main h1 {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 30px !important;
  font-family: 'Megrim';
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  /* text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #7CFFCB , 0 0 70px #7CFFCB , 0 0 80px #7CFFCB , 0 0 100px #7CFFCB ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); */
}

.button-backgrounds:hover .banner-main {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #B32E78 , 0 0 70px #B32E78 , 0 0 80px #B32E78 , 0 0 100px #B32E78 ;
}

.banner-main h2 {
  font-size: 30px;
  font-weight: 800 !important;
  letter-spacing: 1px !important;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
}

.banner-content {
  transform: translate(0%, -15%);
  // position: absolute;
  // left: 50%;
  // top: 40%;
  a {
    text-decoration: none !important;
    // padding-bottom: 10vh;
    // margin-top: -10vh !important;
  }
}

/* text glow only */
.glo-up {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #7CFFCB , 0 0 70px #7CFFCB , 0 0 80px #7CFFCB , 0 0 100px #7CFFCB ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
