/* Main navbar */
.navbar-wagon {
  background: $black;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.navbar-wagon-brand a:hover {
  text-decoration: none !important;
  color: $mint !important;
  z-index: 999;
}

/* Circular Logos */
.navbar-wagon-brand {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid $mint;
  color: $mint;
  text-align: center;
  font-size: 32px ;
  line-height: 32px;
  font-family: 'Megrim';
  padding: 8px;
  margin: 0 5px;
  z-index: 999;

  transition: all 0.5s ease;

  &.small {
    height: 10px;
    width: 10px;
  }

  &.medium {
    height: 30px;
    width: 30px;
    font-size: 13px;
    line-height: 13px;
  }

  &.done {
    background-color: $mint;
    color: $black;
  }

  &.current {
    background-color: $pink;
    opacity: 1.0 !important;
  }

  &.progress-nav {
    opacity: 0.5;
  }
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display-task-message {
  color: $mint;
  font-size: 20px;
  float: right;
  right: 0px;
  // position: absolute;
  margin-right:0px !important;

}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  color: $mint;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.dropdown i {
  font-size: 24px;
}

.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  left: -45px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: $mint;
  background: 0;
  z-index: 999;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $mint !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: 0;
}

.sticky + .content {
  padding-top: 60px;
}
