<div class="banner-main" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://loremflickr.com/1200/900/venue');">

  <div class="banner-content">
    <h1>Book-A-Chef</h1>
    <p>Just right for your diner parties!</p>
    <a id="browse-main-btn" class="btn btn-primary btn-lg" href="#index-filters">Browse</a>
  </div>
</div>
