
  <!-- <div class="app mdl-shadow--2dp"> -->
    <div class="index-wrapper">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="container">
            <div class="row">
              <div class="main-index" id="main">
                <div class="venues">

                  <!-- Generate the cards in here -->
                    <% @Venues.each do |venue| %>
                      <%= render 'venue/index_components/venue_card', venue: venue %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>


          <!-- Generate the map in here -->
          <div class="map" hidden>
            <div id="map" data-markers="<%= @markers.to_json %>"></div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->




<!-- STICKY DECK BAR -->
<div class="venues-chosen">
  <!-- generating chosen venues for now -->
    <%# 3.times do %>
        <%#render 'venue/index_components/venue_card', venue: @Venues.sample() %>
    <%# end %>


  <div id="shOverlay" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <%# render partial: "/venue/index_components/show-partial", locals: {venue: venue } %>
  </div>

</div>
  </button>

  <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <a id="proceed-to-create-squad-btn" href="#"><span class="spot"></span>
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </svg>
    </div>
</div>


<script>
  function openNav() {
    document.getElementById("shOverlay").style.width = "100%";

}

/* Close when someone clicks on the "x" symbol inside the overlay */
  function closeNav() {
      document.getElementById("shOverlay").style.width = "0%";
  }

  const proceedButton = document.getElementById('proceed-to-create-squad-btn');

  proceedButton.addEventListener('click', (event) => {

    const chosenVenues = document.querySelectorAll('.chosen-venue-card');

    console.log(chosenVenues);

    if (chosenVenues.length < 3 ) {
      alert(`You only have ${chosenVenues.length} venues selected`);
    } else {
      <% if user_signed_in? %>

          // Send ajax request to the controller + redirect to new page
          sendAjaxCreateRequest(chosenVenues);
          // wait for the answer?
          // redirect to squad#edit

      <% else %>
        // redirect to sign_in page
        window.location.href = '/users/sign_in'
      <% end %>
    }


  });

  sendAjaxCreateRequest = (chosenVenues) => {

    const authToken = document.querySelector('meta[name="csrf-token"]').content
    const createUrl = '/squad';

    let chosenVenuesArr = []

    chosenVenues.forEach((venue) => {
      chosenVenuesArr.push(venue.getAttribute("data-venue-id"));
    });

    fetch('/squad', {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRF-Token': authToken
      },
      body: JSON.stringify({ chosenVenues: chosenVenuesArr }),
      credentials: 'same-origin'
    })
      .then((response) => response.json())
      .then((data) => {
        // window.location.href = `/squad/${data['id']}/edit`
        window.location.href = `/squad/${data['id']}/sidekicks`
        // console.log(data['id']);
      })
      .catch(console.error);
  }


// LOGIC TO ADD A SELECTED VENUE ----------------------------



const venuesChosenContainer = document.querySelector('.venues-chosen')
const venuesSelectBtns = document.querySelectorAll('.select-venue-btn');

venuesSelectBtns.forEach((btn) => {
  btn.addEventListener('click', (event) => {
    const chosenVenues = document.querySelectorAll('.chosen-venue-card');

    if (chosenVenues.length < 3 ) {

      const venueId = event.currentTarget.attributes['data-venue-id'];
      const selectedVenueEl = event.currentTarget.parentElement.parentElement
      const selectedVenueInnerHTML = selectedVenueEl.innerHTML

      // console.log(selectedVenueEl);

      selectedVenueEl.parentElement.remove();

      venuesChosenContainer.prepend(selectedVenueEl)

      // console.log(selectedVenueEl);
      selectedVenueEl.classList.add('chosen-venue-card')

    } else {
      alert('you already have 3 cards in your deck!');
    }
  });
});




// LOGIC TO ADD A SELECTED VENUE ^^^^^^^^^^^^^^^^^^^^^^^^^^^^






</script>
